.advantages {
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 48px;

    @include mobile {
      row-gap: 40px;
    }
  }

  &__block {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'image title'
      'image text'
      'image button';
    column-gap: 40px;
    row-gap: 24px;
    justify-items: flex-start;

    &--reverse {
      grid-template-columns: 1fr auto;
      grid-template-areas:
        'title image'
        'text image'
        'button image';
    }

    @include mobile {
      grid-template-columns: auto 1fr;
      grid-template-areas:
        'image title'
        'text text'
        'button button';
    }
  }

  &__image {
    grid-area: image;
    -webkit-user-drag: none;
    @include mobile {
      height: 95px;
      width: 95px;
    }
  }

  &__title {
    grid-area: title;
    font-size: 40px;
    text-transform: uppercase;

    @include mobile {
      font-size: 20px;
    }
  }

  &__description {
    grid-area: text;
  }

  &__button {
    grid-area: button;
    width: 195px;
  }
}
