.button {
  display: inline-block;
  position: relative;
  height: 48px;
  border: none;
  font-family: var(--font-family-heading);
  font-size: 25px;
  letter-spacing: 0.05em;
  cursor: pointer;
  outline: none;
  color: var(--color-purple);
  background-color: var(--color-yellow);
  transition-duration: var(--transition-duration);

  &::before {
    content: "";
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    background-image: radial-gradient(var(--color-purple) 1.5px, transparent 0);
    background-size: 4px 4px;
    transition: opacity var(--transition-duration), transform var(--transition-duration);
  }

  &:hover {
    transform: translate(-10px, -10px);

    &::before {
      opacity: 1;
      transform: translate(10px, 10px);
    }
  }

  // Добавляем псевдоэлемент для фона, чтобы он не перекрывал текст
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--color-yellow);
    z-index: -1; // Устанавливаем z-index для псевдоэлемента ниже
  }
}