.gradient {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  max-height: 900px;
  overflow: hidden;
  background: center / cover no-repeat url(/src/images/background-gradient.png) #9283db;
}