.hero {
  padding-top: 118px;

  &__title {
    display: flex;
    align-items: center;
    user-select: none;
    font-family: var(--font-family-fancy);

    &-name {
      position: relative;
      white-space: nowrap;
      font-size: 80px;
      letter-spacing: 3px;
      text-shadow: 4px 4px 0 var(--color-purple), -4px 4px 0 var(--color-purple),
        -4px -4px 0 var(--color-purple), 4px -4px 0 var(--color-purple);
      &::after {
        content: "БСБ-";
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        color: #fff;
        background: none;
        background-image: linear-gradient(
          15deg,
          var(--color-yellow) 47.6%,
          var(--color-purple) 48.62%
        );
        text-shadow: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
      }

      @include tablet {
        font-size: 60px;
      }

      @include mobile {
        &::after {
          content: "БСБ";
          background-image: linear-gradient(
            17deg,
            var(--color-yellow) 50%,
            var(--color-purple) 50%
          );
          text-shadow: none;
        }
      }
    }

    &-stripe {
      white-space: nowrap;

      @include mobile {
        display: none;
      }
    }

    &-feature {
      margin-left: 20px;

      @include mobile {
        display: none;
      }
    }
  }

  &__description {
    color: var(--color-purple);
    margin-top: 60px;
    font-size: 30px;
    font-family: var(--font-family-heading);
  }
}
