.partners {
  position: relative;
  overflow-x: hidden;

  &__image {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    user-select: none;

    filter: grayscale(100%);
    transition-duration: var(--transition-duration);

    @include hover {
      filter: grayscale(0%);
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--color-grey) !important;
  width: 27px !important;
  height: 51px !important;
  transform: translateY(50px);

  &::after {
    visibility: hidden;
  }

  @include mobile {
    display: none !important;
  }
}

.swiper-button-prev {
  background: url(/src/images/slider-arrow-left.svg);
}

.swiper-button-next {
  background: url(/src/images/slider-arrow-right.svg);
}

