.section {
  margin-top: 80px;

  &__title {
    margin-bottom: 56px;
    font-family: var(--font-family-heading);
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--color-grey-alt);

    @include mobile {
      margin-bottom: 24px;
    }
  }
}
