.title {
  color: var(--color-purle);
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: 25px;
  user-select: none;
  transition-duration: var(--transition-duration);
 
  @include hover {
    color: var(--color-purple-light);
  }
}