@font-face {
  font-family: 'Handjet';
  src: url(../fonts/Handjet-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Handjet';
  src: url(../fonts/Handjet-Black.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTSans';
  src: url(../fonts/PTSans-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTSans';
  src: url(../fonts/PTSans-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PressStart2P';
  src: url(../fonts/PressStart2P-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eboy';
  src: url(../fonts/Eboy-EXTAlpha.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}