:root {
  --color-dark: #2b2a28;
  --color-purple: #2d2650;
  --color-purple-light: #4a399d;
  --color-yellow: #dfdc01;
  --color-grey: #999999;
  --color-light: #F5F5F5;

  --container-width: 1110px;
  --container-padding-x: 16px;
  --section-padding-y: 70px;

  --transition-duration: 0.2s;

  --font-family-heading: 'Handjet', sans-serif;
  --font-family-body: 'PTSans', sans-serif;
  --font-family-fancy: 'PressStart2P', sans-serif;
  --font-family-number: 'Eboy', sans-serif;

  @include mobile {
    --section-padding-y: 64px;
  }
}