@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Handjet";
  src: url(../fonts/Handjet-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Handjet";
  src: url(../fonts/Handjet-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PTSans";
  src: url(../fonts/PTSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PTSans";
  src: url(../fonts/PTSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PressStart2P";
  src: url(../fonts/PressStart2P-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Eboy";
  src: url(../fonts/Eboy-EXTAlpha.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #2b2a28;
  --color-purple: #2d2650;
  --color-purple-light: #4a399d;
  --color-yellow: #dfdc01;
  --color-grey: #999999;
  --color-grey-alt: #b1b3b3;
  --color-light: #F5F5F5;
  --container-width: 1110px;
  --container-padding-x: 16px;
  --section-padding-y: 70px;
  --transition-duration: 0.2s;
  --font-family-heading: "Handjet", sans-serif;
  --font-family-body: "PTSans", sans-serif;
  --font-family-fancy: "PressStart2P", sans-serif;
  --font-family-number: "Eboy", sans-serif;
}
@media (max-width: 767px) {
  :root {
    --section-padding-y: 64px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 1.25vw, 18px);
  overflow-x: hidden;
  font-family: var(--font-family-body);
  font-weight: 400;
  letter-spacing: 0.05em;
  color: var(--color-dark);
}

html.is-lock {
  overflow: hidden;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a, a:hover {
  text-decoration: none;
}

@media (hover: hover) {
  .icon--yellow:hover {
    filter: drop-shadow(0 0 5px var(--color-yellow));
  }
}
@media (hover: none) {
  .icon--yellow:active {
    filter: drop-shadow(0 0 5px var(--color-yellow));
  }
}
@media (hover: hover) {
  .icon--purple:hover {
    filter: drop-shadow(0 0 5px var(--color-purple));
  }
}
@media (hover: none) {
  .icon--purple:active {
    filter: drop-shadow(0 0 5px var(--color-purple));
  }
}

.title {
  color: var(--color-purle);
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .title:hover {
    color: var(--color-purple-light);
  }
}
@media (hover: none) {
  .title:active {
    color: var(--color-purple-light);
  }
}

.section {
  margin-top: 80px;
}
.section__title {
  margin-bottom: 56px;
  font-family: var(--font-family-heading);
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--color-grey-alt);
}
@media (max-width: 767px) {
  .section__title {
    margin-bottom: 24px;
  }
}

.button {
  display: inline-block;
  position: relative;
  height: 48px;
  border: none;
  font-family: var(--font-family-heading);
  font-size: 25px;
  cursor: pointer;
  outline: none;
  color: var(--color-purple);
  background-color: var(--color-yellow);
  transition-duration: var(--transition-duration);
}
.button::before {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  background-image: radial-gradient(var(--color-purple) 1.5px, transparent 0);
  background-size: 4px 4px;
  transition: opacity var(--transition-duration), transform var(--transition-duration);
}
.button:hover {
  transform: translate(-10px, -10px);
}
.button:hover::before {
  opacity: 1;
  transform: translate(10px, 10px);
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--color-yellow);
  z-index: -1;
}

.link {
  color: var(--color-light);
  font-weight: 700;
  font-size: 18px;
  position: relative;
  overflow: visible;
}
.link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-light);
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .link:active::after {
    width: 100%;
  }
}
.link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.link--accent {
  font-family: var(--font-family-heading);
  color: var(--color-purple);
  font-size: 25px;
}
.link--accent::after {
  color: var(--color-purple-light);
  background-color: var(--color-yellow);
}

.header {
  position: relative;
  padding-top: 40px;
}
.header__inner {
  width: 100%;
  position: sticky;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header__inner.is-active {
  display: none;
}
.header__button {
  cursor: pointer;
  background: none;
  border: none;
}
.header__button.is-active {
  rotate: 45deg;
}
.header__input {
  border: 2px solid rgba(245, 245, 245, 0.2);
  border-radius: 7px;
  padding: 20px 0px 20px 40px;
  max-height: 46px;
  width: max(66%, 200px);
  background: linear-gradient(136deg, rgba(255, 255, 255, 0.4) 7.57%, rgba(255, 255, 255, 0.1) 56.52%);
  outline: none;
  background-image: url(/src/images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
}
@media (max-width: 767px) {
  .header__input {
    display: none;
  }
}
.header__input:hover, .header__input:focus {
  outline: none;
  box-shadow: none;
}
.header__overlay, .header__input {
  transition-duration: var(--transition-duration);
}
.header__overlay:not(.is-active), .header__input:not(.is-active) {
  opacity: 0;
  visibility: hidden;
}
.header__logo, .header__button {
  opacity: 0.2;
}
@media (hover: hover) {
  .header__logo:hover, .header__button:hover {
    opacity: 1;
  }
}
@media (hover: none) {
  .header__logo:active, .header__button:active {
    opacity: 1;
  }
}

.welcome {
  width: 100vw;
  height: 100vh;
  max-height: 900px;
  background: center/cover no-repeat url(/src/images/background-gradient.png) #9283db;
}
@media (max-width: 767px) {
  .welcome {
    max-height: 640px;
  }
}

.hero {
  padding-top: 118px;
}
@media (max-width: 767px) {
  .hero {
    padding-top: 72px;
  }
}
.hero__title {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: var(--font-family-fancy);
}
.hero__title-name {
  position: relative;
  white-space: nowrap;
  font-size: 80px;
  letter-spacing: 3px;
  text-shadow: 4px 4px 0 var(--color-purple), -4px 4px 0 var(--color-purple), -4px -4px 0 var(--color-purple), 4px -4px 0 var(--color-purple);
}
.hero__title-name::after {
  content: "БСБ-";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  color: #fff;
  background: none;
  background-image: linear-gradient(15deg, var(--color-yellow) 47.6%, var(--color-purple) 48.62%);
  text-shadow: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
@media (max-width: 1023px) {
  .hero__title-name {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .hero__title-name::after {
    content: "БСБ";
    background-image: linear-gradient(17deg, var(--color-yellow) 50%, var(--color-purple) 50%);
    text-shadow: none;
  }
}
.hero__title-stripe {
  white-space: nowrap;
}
@media (max-width: 767px) {
  .hero__title-stripe {
    display: none;
  }
}
.hero__title-feature {
  margin-left: 20px;
}
@media (max-width: 767px) {
  .hero__title-feature {
    display: none;
  }
}
.hero__description {
  color: var(--color-purple);
  margin-top: 60px;
  font-size: 30px;
  font-family: var(--font-family-heading);
}
@media (max-width: 767px) {
  .hero__description {
    margin-top: 10px;
    font-size: 18px;
  }
}

.bigLogo {
  position: absolute;
  top: 300px;
  right: 0;
  -webkit-user-drag: none;
  background-repeat: no-repeat;
}
@media (max-width: 1023px) {
  .bigLogo {
    display: none;
  }
}

.form {
  padding: 40px 55px;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  border-radius: 7px;
  box-shadow: 0 1px 24px -1px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .form {
    row-gap: 12px;
    padding: 24px 16px;
  }
  .form .title {
    font-size: 12px;
    text-align: center;
  }
}
.form__input, .form__textarea {
  padding: 20px;
  width: 100%;
  height: 58px;
  border-radius: 7px;
  border: 2px solid var(--color-grey);
  outline: none;
  font-size: 14px;
}
.form__input:focus, .form__textarea:focus {
  border: 2px solid var(--color-yellow);
}
.form__row-inputs {
  display: flex;
  -moz-column-gap: 36px;
       column-gap: 36px;
}
@media (max-width: 767px) {
  .form__row-inputs {
    flex-direction: column;
    row-gap: 12px;
  }
}
.form__textarea {
  height: 202px;
  resize: none;
}
.form__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 32px;
       column-gap: 32px;
  max-height: 41px;
}
@media (max-width: 767px) {
  .form__footer {
    row-gap: 12px;
    flex-direction: column;
    max-height: none;
  }
}
.form__description {
  max-width: 160px;
  font-size: 10px;
  color: var(--color-grey);
  text-align: end;
}
@media (max-width: 767px) {
  .form__description {
    max-width: none;
    align-self: flex-start;
    text-align: start;
  }
}
.form__button {
  width: 180px;
}
@media (max-width: 767px) {
  .form__button {
    align-self: flex-end;
  }
}

.overlay {
  margin-top: 140px;
  z-index: 2;
  position: fixed;
  inset: 0;
}
.overlay::before {
  content: "";
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center/cover no-repeat url(/src/images/background-menu-gray.png) #9283db;
}
@media (max-width: 767px) {
  .overlay {
    overflow-y: auto;
  }
}
.overlay__menu {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 109px;
       column-gap: 109px;
  row-gap: 54px;
}
@media (max-width: 767px) {
  .overlay__menu {
    grid-template-columns: repeat(1, 1fr);
  }
}
.overlay__menu-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
}
.overlay__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}
.overlay__circle {
  position: fixed;
  bottom: -50%;
  right: -50%;
  width: 70vw;
  aspect-ratio: 1;
  background-image: url(/src/images/PixMenuDecorCircle.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: center;
  animation: rotate 30s linear infinite;
}
@media (max-width: 1023px) {
  .overlay__circle {
    width: 90vw;
  }
}
@media (max-width: 767px) {
  .overlay__circle {
    top: 33%;
    bottom: auto;
  }
}
@media (max-width: 480px) {
  .overlay__circle {
    display: none;
  }
}
.overlay__circle--small {
  width: 65vw;
  animation: rotate 33s linear infinite;
}
@media (max-width: 1023px) {
  .overlay__circle--small {
    width: 79vw;
  }
}
@media (max-width: 767px) {
  .overlay__circle--small {
    top: 36%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.overlay__form {
  display: none;
  background-color: var(--color-grey-alt);
}
.overlay__form.is-active {
  display: flex;
  animation: form-overlay 0.2s linear;
}
@keyframes form-overlay {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(102%);
  }
  100% {
    transform: scale(100%);
  }
}
.overlay__footer {
  position: relative;
  z-index: 3;
  margin-top: 48px;
  padding-bottom: 40px;
  font-size: 30px;
}
.overlay__footer-info {
  max-width: 568px;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.overlay__footer-column {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.overlay__footer-soc1als {
  align-self: flex-end;
}
.overlay__footer-copyright {
  font-size: 10px;
  text-align: end;
}

.form-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.form-overlay.is-active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
}

.promo {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  position: relative;
  max-width: 568px;
  padding: 35px 54px;
  background: center/cover no-repeat url(/src/images/background-promo.png) #9283db;
  border: 3px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.promo__description {
  font-size: 18px;
  color: var(--color-light);
}
.promo__button {
  width: 236px;
  align-self: flex-end;
}

.slogan {
  padding-top: 100px;
}
@media (max-width: 767px) {
  .slogan {
    display: none;
  }
}
.slogan__text {
  padding-left: 32px;
  border-left: 10px solid var(--color-purple);
  max-width: 710px;
  font-size: 18px;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.slogan__text.is-active {
  opacity: 1;
  transform: translateX(0);
}

.steps__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .steps__wrapper {
    flex-direction: column;
    row-gap: 56px;
  }
}
.steps__step {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 24px;
  text-align: center;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
@media (max-width: 767px) {
  .steps__step {
    flex-direction: row;
    -moz-column-gap: 36px;
         column-gap: 36px;
  }
}
.steps__step.is-active {
  opacity: 1;
  transform: translateX(0);
}
.steps__circle {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-weight: bold;
  color: var(--color-light);
  font-size: 60px;
  font-family: var(--font-family-heading);
}
@media (max-width: 767px) {
  .steps__circle {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }
}
.steps__circle--yellow {
  background-color: #ffd700;
}
.steps__circle--blue {
  background-color: #2e2e66;
}
.steps__circle--grey {
  background-color: #f3f3f3;
  color: var(--color-purple);
}
.steps__text {
  text-align: start;
}
.steps__title {
  font-family: var(--font-family-heading);
  text-transform: uppercase;
  font-size: 25px;
}
@media (max-width: 767px) {
  .steps__title {
    font-size: 16px;
  }
}
.steps__description {
  padding-left: 18px;
  font-size: 1rem;
  color: #666;
}

.cards {
  position: relative;
}
.cards::after {
  content: "";
  background-image: url(/src/images/UP-icon.svg);
  width: 51px;
  height: 77px;
  position: absolute;
  top: 100px;
  right: 0;
}
@media (max-width: 767px) {
  .cards::after {
    display: none;
  }
}
.cards__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 767px) {
  .cards__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cards__card {
  height: 588px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: 36px 74px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 767px) {
  .cards__card {
    height: 328px;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    border: none !important;
    background-position: 0 0;
    background-size: 136px 118px;
  }
}
.cards__card--it {
  background-image: url(/src/images/IT-background.svg);
}
.cards__card--ib {
  background-image: url(/src/images/IB-background.svg);
}
.cards__card--sb {
  background-image: url(/src/images/SB-background.svg);
}
.cards__card:not(:last-child) {
  border-right: 2px solid var(--color-light);
}
.cards__title {
  text-transform: uppercase;
}
.cards__title-link {
  padding-inline: 40px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: flex-start;
  margin-top: 266px;
}
@media (max-width: 767px) {
  .cards__title-link {
    margin-top: 44px;
    padding-left: 48px;
    padding-right: 0px;
  }
}
.cards__title-link svg {
  flex-shrink: 0;
}
.cards__description {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .cards__description {
    padding-left: 48px;
  }
}

.percent__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 767px) {
  .percent__wrapper {
    grid-template-columns: repeat(1, 1fr);
    justify-items: flex-start;
  }
}
.percent__block {
  position: relative;
}
.percent__block:nth-child(2n) {
  justify-self: end;
}
@media (max-width: 767px) {
  .percent__block:nth-child(2n) {
    justify-self: auto;
  }
}
.percent__data {
  font-family: var(--font-family-number);
  color: var(--color-yellow);
  font-size: 140px;
}
@media (max-width: 767px) {
  .percent__data {
    font-size: 80px;
  }
}
.percent__title {
  position: absolute;
  left: 34px;
  bottom: 10px;
  padding: 6px 32px;
  font-size: 25px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  box-shadow: 0 1px 24px -1px rgba(0, 0, 0, 0.1);
  background: linear-gradient(316deg, rgba(221, 221, 221, 0.4) 0%, rgba(223, 223, 223, 0.1) 58.85%);
  border-radius: 7px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .percent__title {
    font-size: 16px;
  }
}

.percent .section__title {
  margin-bottom: 0;
}

.technologies {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 10px 0;
}
.technologies__row {
  display: flex;
  -moz-column-gap: 114px;
       column-gap: 114px;
  width: -moz-max-content;
  width: max-content;
  animation: marquee-left 60s linear infinite;
}
.technologies__row--reverse {
  margin-top: 152px;
  animation: marquee-right 80s linear infinite;
}
@media (max-width: 767px) {
  .technologies__row--reverse {
    margin-top: 30px;
  }
}
.technologies__image {
  height: 50px;
}
@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
@media (max-width: 767px) {
  .advantages__wrapper {
    row-gap: 40px;
  }
}
.advantages__block {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "image title" "image text" "image button";
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 24px;
  justify-items: flex-start;
}
.advantages__block--reverse {
  grid-template-columns: 1fr auto;
  grid-template-areas: "title image" "text image" "button image";
}
@media (max-width: 767px) {
  .advantages__block {
    grid-template-columns: auto 1fr;
    grid-template-areas: "image title" "text text" "button button";
  }
}
.advantages__image {
  grid-area: image;
  -webkit-user-drag: none;
}
@media (max-width: 767px) {
  .advantages__image {
    height: 95px;
    width: 95px;
  }
}
.advantages__title {
  grid-area: title;
  font-size: 40px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .advantages__title {
    font-size: 20px;
  }
}
.advantages__description {
  grid-area: text;
}
.advantages__button {
  grid-area: button;
  width: 195px;
}

.partners {
  overflow-x: hidden;
}
.partners__image {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  filter: grayscale(100%);
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .partners__image:hover {
    filter: grayscale(0%);
  }
}
@media (hover: none) {
  .partners__image:active {
    filter: grayscale(0%);
  }
}

.swiper-container-partners {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--color-grey) !important;
  width: 27px !important;
  height: 51px !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  visibility: hidden;
}
@media (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

.swiper-button-prev {
  background: url(/src/images/slider-arrow-left.svg);
}

.swiper-button-next {
  background: url(/src/images/slider-arrow-right.svg);
}

.news {
  position: relative;
  overflow: hidden;
}
.news__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 605px;
  background: url(/src/images/NewsBG.svg);
  background-size: contain;
}
.news__block {
  margin: 0 auto;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 250px;
  border-radius: 14px;
  background: url(/src/images/newsPhoto.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-light);
}
.news__info {
  max-width: 280px;
}
.news__title {
  font-family: var(--font-family-heading);
  font-size: 20px;
}
.news__description {
  font-size: 14px;
}

.footer {
  margin-top: 20px;
  background: url(/src/images/FooterBG.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .footer {
    background-size: contain;
  }
}
.footer__wrapper {
  position: relative;
  padding-top: 300px;
  padding-bottom: 42px;
  display: flex;
  align-items: flex-start;
}
.footer__wrapper::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 58px;
  right: 58px;
  height: 3px;
  background-color: var(--color-yellow);
}
@media (max-width: 767px) {
  .footer__wrapper {
    padding-top: 100px;
    padding-bottom: 0;
    flex-direction: column;
  }
  .footer__wrapper::after {
    width: 0;
  }
}
.footer__copyright {
  margin-top: 42px;
  padding-bottom: 47px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
}
@media (max-width: 767px) {
  .footer__copyright {
    margin-top: 0;
    flex-direction: column;
    row-gap: 12px;
  }
}
.footer__copyright a {
  color: var(--color-purple);
}
.footer .overlay__footer {
  margin-top: 0;
}
@media (max-width: 767px) {
  .footer .overlay__footer {
    width: 100%;
  }
}
.footer .overlay__footer-copyright {
  margin-top: 16px;
  font-size: 14px;
}
.footer .overlay__footer-info {
  max-width: none;
  flex-direction: column;
  margin-top: 0;
  text-align: end;
  align-items: flex-end;
}
@media (max-width: 767px) {
  .footer .overlay__footer-info {
    margin-top: 24px;
    padding-block: 12px;
    flex-direction: row;
    text-align: start;
    align-items: center;
    border-top: 1px solid var(--color-grey-alt);
    border-bottom: 1px solid var(--color-grey-alt);
  }
}
.footer .overlay__menu {
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 24px;
}
@media (max-width: 767px) {
  .footer .overlay__menu {
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer .overlay__menu-list {
  row-gap: 10px;
}
.footer .link {
  color: var(--color-dark);
  font-size: 14px;
  font-family: var(--font-family-body);
  font-weight: 400;
}
.footer .link::after {
  background-color: var(--color-dark);
}
.footer .link--accent {
  font-size: 25px;
  font-family: var(--font-family-heading);
  color: var(--color-purple);
}
@media (hover: hover) {
  .footer .link--accent:hover {
    color: var(--color-purple-light);
  }
}
@media (hover: none) {
  .footer .link--accent:active {
    color: var(--color-purple-light);
  }
}
.footer .link--accent::after {
  background-color: var(--color-yellow);
}/*# sourceMappingURL=style.css.map */